<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newgame">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".knowledge_base_heatinjurypage"></activity>
        <activity android:name=".knowledge_base_machinepage" />
        <activity android:name=".knowledge_base_transportpage" />
        <activity android:name=".knowledge_base_fallpage" />
        <activity android:name=".quiz_5" />
        <activity android:name=".quiz_4" />
        <activity android:name=".quiz_3" />
        <activity android:name=".quiz_2" />
        <activity android:name=".quiz_1" />
        <activity android:name=".yesOrno_game" />
        <activity android:name=".choice_game" />
        <activity android:name=".customViewCollection.Game_menu_dialog" />
        <activity android:name=".Introduction_page" />
        <activity android:name=".customViewCollection.emergency_information" />
        <activity android:name=".customViewCollection.emergency_custom_dialog" />
        <activity android:name=".customViewCollection.custome_dialog" />
        <activity
            android:name=".Navigation_page"
            android:label="@string/title_activity_navigation_page" />
        <activity android:name=".modepage" />
        <activity android:name=".quizpage" />
        <activity android:name=".gamepage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>